.header{color:#fff;}
.logo{
    color:#fff;
    .icon{
        margin-right:10px;color:#ff0;font-size:40px;vertical-align: middle;
    }
    h1{display: inline-block;color:#fff;}
}

.txt-right{
    text-align: right;
}