.header{color:#fff;}
.logo{
    color:#fff;
    .icon{
        margin-right:10px;color:#ff0;font-size:40px;vertical-align: middle;
    }
    h1{display: inline-block;color:#fff;}
}

.txt-right{
    text-align: right;
}

.login-page{
    position:absolute;left:50%;top:50%;transform: translate(-50%,-50%);
    width:500px;height:400px;
    h1{text-align: center;}
}